a {
	color: #fff;
	text-decoration: none;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background: #000;
	color: #fff;
	font-family: sans-serif;
}

.header_section {
	display: flex;
	align-items: center;
}

.header_item {
	padding: 10px 15px;
	font-size: 20px;
	margin-left: 5px;
}

.header_item:hover {
	background-color: #ff9900;
	border-radius: 4px;
}

.header_logo {
	font-weight: bold;
}

.header_button {
	cursor: pointer;
}