* {
	margin: 0px;
}
a {
	color: #fff;
	text-decoration: none;
}
.header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background: #689CD2;
	color: #fff;
	font-family: sans-serif;
}
.header_section {
	display: flex;
	align-items: center;
}
.header_item {
	padding: 10px 15px;
	font-size: 20px;
	margin-left: 5px;
}
.header_item:hover {
	background-color: #ff9900;
	border-radius: 4px;
}
.header_logo {
	font-weight: bold;
}
.header_button {
	cursor: pointer;
}
.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 630px;
	width: 150px;
	border-right: 1px solid #D7D8DD;
	background-color: #FCFDFD;
	padding: 10px; 
}
.sidebar a {
	color: #689CD2;
}
.sidebar_item {
	cursor: pointer;
	padding: 8px;
	font-size: 18px;
}
.sidebar_item:hover {
	background-color: #EEF3F4;
	border-radius: 4px;
}
main {
	display: flex;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background: #333;
	height: 2000px;
	font-family: sans-serif;
}
h1 {
	text-align: center;
	color: #fff;
	margin-bottom: 15px;
}
.wrap {
	display: flex;
	align-items: stretch;
	width: 90%;
	margin: auto;
	flex-direction: column;
}
button {
	width: 30px;
	border: none;
	background: transparent;
	color: #fff;
	font-size: 40px;
	text-align: center;
	outline: none;
	opacity: 0.5;
	transition: opacity 300ms ease-out;
}
button:hover {
	opacity: 1;
}
.slider {
	display: flex;
	flex-direction: row;
}
.scroller {
	flex: 1;
	overflow: hidden;
}
.items {
	list-style-type: none;
	white-space: nowrap;
	transition:  transform 1s ease-in-out;
}
.item {
	padding: 30px 20px;
	display: inline-block;
	width: 100%;
	height: 500px;
	background-size: cover;
	background-position: 50% 50%;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.gallery {
	padding: .5vw;
	font-size: 0;
	flex-wrap: wrap;
	flex-direction: column;
	flex-flow: row wrap;
	display: flex;
}
.gallery div {
	flex: auto;
	width: 237px;
	margin: .5vw;
}
.gallery div img {
	width: 100%;
	height: auto;
}
@media screen and (max-width: 550px) {
	.gallery div {
		margin: 0;
	}
	.gallery {
		padding: 0;
	}
} 
.gallery:hover img {
	opacity: 0.3;
	transition: .8s opacity;
}
.gallery:hover img:hover {
	opacity: 1;
	transition: .8s opacity;
}
