html {
	background: #fff;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	margin: 0;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	flex: auto;
}

a {
	color: #fff;
}

img {
	border: 0;
}

h1 {
	margin-top: 0;
}

.header {
	width: 100%;
	max-width: 960px;
	min-width: 430px;
	margin: 0 auto 30px;
	padding: 30px 0 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	box-sizing: border-box;
}
.logo {
	background: #000;
	width: 150px;
	height: 50px;
	margin: 0 10px 40px 0;
	display: flex;
	flex: none;
	align-items: center;
}
.header-right {
	background: #000;
	min-height: 50px;
	font-size: 20px;
	color: #fff;
	margin-bottom: 40px;
	flex-basis: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-bottom {
	background: #000;
	min-height: 50px;
	font-size: 20px;
	color: #fff;
	flex-basis: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	display: flex;
	width: 100%;
	max-width: 960px;
	min-width: 430px;
	margin: auto;
	flex: auto;
	box-sizing: border-box;
}

.grid {
	display: flex;
	justify-content: space-between;
}

.grid-item {
	margin-bottom: 30px;
	flex-basis: (33.33% -  30px * 2/3);
	display: flex;
	flex-wrap: wrap;
	padding-right: 10px;
	
}

.grid-img {
	width: 200px;
	height: 200px;
	background: #000;
	margin: 0 auto 20px;
	flex: 0 1 80%;
}

.grid-title {
	text-align: center;
}

.grid-cont {
	flex: 0 1 100%;
}

.footer {
	text-align: center;
	background: #000;
	width: 100%;
	max-width: 960px;
	min-width: 430px;
	color: #fff;
	margin: auto;
	padding: 15px;
	box-sizing: border-box;
}

@media screen and (max-width: 800px) {
	.header-right {
		display: none;
	}
	.grid-item {
		flex-wrap: nowrap;
		flex-basis: 100%;
	}

	.grid-img {
		flex: 0 0 auto;
	}

	.grid {
		flex-wrap: wrap;
	}

	.grid-item:nth-child(even) .grid-img {
		margin: 0 0px 0 30px;
		order: 2;
	}

	.grid-item:nth-child(odd) .grid-img {
		margin: 0 30px 0 0px;
	}

	.flex-cont {
		flex: 1 1 auto;
	}

	.grid-title {
		text-align: left;
	}
}

@media screen and (max-width: 600px) {
	.grid-img {
		display: none;
	}
}