.item {
	height: 100px;
	width: 100px;
	background: red;
	margin: 5px;
}

.container {
	display: flex;
	justify-content: center;
	height: 400px;
}

* {
	margin: 0px;
}
a {
	color: #fff;
	text-decoration: none;
}
.header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background: #689CD2;
	color: #fff;
	font-family: sans-serif;
}
.header_section {
	display: flex;
	align-items: center;
}
.header_item {
	padding: 10px 15px;
	font-size: 20px;
	margin-left: 5px;
}
.header_item:hover {
	background-color: #ff9900;
	border-radius: 4px;
}
.header_logo {
	font-weight: bold;
}
.header_button {
	cursor: pointer;
}
.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 630px;
	width: 150px;
	border-right: 1px solid #D7D8DD;
	background-color: #FCFDFD;
	padding: 10px; 
}
.sidebar a {
	color: #689CD2;
}
.sidebar_item {
	cursor: pointer;
	padding: 8px;
	font-size: 18px;
}
.sidebar_item:hover {
	background-color: #EEF3F4;
	border-radius: 4px;
}
main {
	display: flex;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background: #333;
	height: 2000px;
	font-family: sans-serif;
}
h1 {
	text-align: center;
	color: #fff;
	margin-bottom: 15px;
}
.wrap {
	display: flex;
	align-items: stretch;
	width: 90%;
	margin: auto;
	flex-direction: column;
}
button {
	width: 30px;
	border: none;
	background: transparent;
	color: #fff;
	font-size: 40px;
	text-align: center;
	outline: none;
	opacity: 0.5;
	transition: opacity 300ms ease-out;
}
button:hover {
	opacity: 1;
}
.slider {
	display: flex;
	flex-direction: row;
}
.scroller {
	flex: 1;
	overflow: hidden;
}
.items {
	list-style-type: none;
	white-space: nowrap;
	transition:  transform 1s ease-in-out;
}
.item {
	padding: 30px 20px;
	display: inline-block;
	width: 100%;
	height: 500px;
	background-size: cover;
	background-position: 50% 50%;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.gallery {
	padding: .5vw;
	font-size: 0;
	flex-wrap: wrap;
	flex-direction: column;
	flex-flow: row wrap;
	display: flex;
}
.gallery div {
	flex: auto;
	width: 237px;
	margin: .5vw;
}
.gallery div img {
	width: 100%;
	height: auto;
}
@media screen and (max-width: 550px) {
	.gallery div {
		margin: 0;
	}
	.gallery {
		padding: 0;
	}
} 
.gallery:hover img {
	opacity: 0.3;
	transition: .8s opacity;
}
.gallery:hover img:hover {
	opacity: 1;
	transition: .8s opacity;
}

img {
	max-width: 100%;
}
body {
	font-size: 17px;
	line-height: 1.4;
}
* {
	transition-property: background-color, border-color, box-shadow, color, opacity;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}
.container {
	max-width: 1100px;
	margin: 0 auto;
}
.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 15px;
	padding: 1.5%;
	box-sizing: border-box;
}
.card {
	position: relative;
	margin-bottom: 20px;
	background: #fefff9;
	color: #363636;
	text-decoration: none;
	box-shadow: rgba(0, 0, 0, 0,.19);
	border-radius: 4px;
}
@media (max-width: 600px) {
	.card {
		width: 100%;
	}
}
@media (min-width: 700px) {
	.card {
		max-width: 320px;
		margin-right: 20px;
		margin-bottom: 20px;
	}
}
.card span {
	display: block;
}
.card .card_summary {
	padding: 5% 5% 15% 5%;
}
.card .card_header {
	position: relative;
	height: 175px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: rgba(255, 255, 255, 0.15);
	background-blend-mode: overlay;
}
.card .card_header:hover .card .card_header:focus {
	background-color: rgba(255, 255, 255, 0);
}
.card .card_title {
	background: rgba(104, 156, 210, 0.85);
	padding: 3.5 0 2.5 0;
	color: white;
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.card .card_title h3 {
	font-size: 1.2em;
	line-height: 1.2;
	padding: 0 3.5%;
	margin: 5px;
}
.card .card_meta {
	max-height: 0;
	overflow: hidden;
	color: #666;
	font-size: .78em;
	text-transform: uppercase;
	position: absolute;
	bottom: 5%;
	padding: 0% 5%;
	transition-property: max-height;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}
.card:hover, card:focus {
	background: white;
	box-shadow: rgba (0, 0, 0, 0.45) 0px 0px 20px 0px;
}
.card:hover .card_title, .card:focus .card_title {
	background: rgba(104, 156, 210, 0.95);
} 
.card:hover .card_meta, .card:focus card_met {
	max-height: 1em;
}
.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0 auto;
}
h2 {
	text-align: center;
}
form {
	flex-basis: 70vh;
	padding: 2em;
	background: #fff;
	box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
	border-radius: 0.25em;
}
input {
	padding: 0.5em;
	font-size: 0.875em;
	background: #f4f4f4;
	border: 1px solid #ccc;
	border-width: 1px 1px 1px 0;
	border-radius: 0;
}
input:focus {
	background: #fff;
	box-shadow: inset 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.2); 
	outline: 0;
}